<!-- Blog Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <mat-card class="bg-primary">
            <mat-card-title class="text-center p-4  text-white"><h3 class="text-white ">{{news.title}}</h3>
                <br><small>{{common.covertLongToDate(news.created_time) | date: "HH:mm:ss dd-MM-YYYY"}}</small>
            </mat-card-title>
        </mat-card>
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div  class="mb-5">
                <div *ngIf="id == '345hg0-dsh'" class="post-content" id="newsidpostcontent">
                    <p style="text-align: center;"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/f5iQci_S504" title="YouTube video player" width="560"></iframe></p>

                    <p style="text-align: center;">Video hướng dẫn nộp hồ sơ xét tuyển học bạ Online</p>
                    
                    <p style="text-align: center;"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/sUU8WhGQWDw" title="YouTube video player" width="560"></iframe></p>
                    
                    <p style="text-align: center;">Thông tin tuyển sinh trường Đại học Giao thông vận tải 2021</p>
                    
                    <p><strong>Thông báo xét tuyển đại học chính quy 2021 theo kết quả học bạ:&nbsp;<a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/x%C3%A9t-tuy%E1%BB%83n-%C4%91%E1%BA%A1i-h%E1%BB%8Dc-ch%C3%ADnh-quy-n%C4%83m-2021-theo-k%E1%BA%BFt-qu%E1%BA%A3-h%E1%BB%8Dc-b%E1%BA%A1-thpt-m%C3%A3-tuy%E1%BB%83n-sinh-gha-tuy%E1%BB%83n"><span style="color:#0000CD;">http://tuyensinh.utc.edu.vn/xet-tuyen-hoc-ba</span></a></strong></p>
                    
                    <p><strong>Danh mục chứng minh đối tượng ưu tiên (đính kèm khi xét tuyển học bạ):&nbsp;<a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/danh-m%E1%BB%A5c-minh-ch%E1%BB%A9ng-%C4%91%E1%BB%91i-t%C6%B0%E1%BB%A3ng-%C6%B0u-ti%C3%AAn-%C4%91%C3%ADnh-k%C3%A8m-khi-%C4%91%C4%83ng-k%C3%BD-x%C3%A9t-tuy%E1%BB%83n-h%E1%BB%8Dc-b%E1%BA%A1"><span style="color:#0000CD;">http://tuyensinh.utc.edu.vn/danh-muc-doi-tuong-uu-tien</span></a></strong></p>
                    
                    <p><strong>Hướng dẫn chụp ảnh hồ sơ khi xét tuyển học bạ:&nbsp;<u><a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-ch%E1%BB%A5p-%E1%BA%A3nh-h%E1%BB%93-s%C6%A1-%C4%91%C4%83ng-k%C3%BD-x%C3%A9t-tuy%E1%BB%83n-h%E1%BB%8Dc-b%E1%BA%A1"><span style="color:#0000CD;">h</span></a></u><a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-ch%E1%BB%A5p-%E1%BA%A3nh-h%E1%BB%93-s%C6%A1-%C4%91%C4%83ng-k%C3%BD-x%C3%A9t-tuy%E1%BB%83n-h%E1%BB%8Dc-b%E1%BA%A1"><span style="color:#0000CD;">ttp://tuyensinh.utc.edu.vn/anh-ho-so-xet-tuyen</span></a></strong></p>
                    
                    <p><strong>Đề án tuyển sinh đại học chính quy năm 2021 trường ĐH GTVT:&nbsp;<a href="http://tuyensinh.utc.edu.vn/thong-tin-tuyen-sinh"><span style="color: rgb(0, 0, 205);">http://tuyensinh.utc.edu.vn/thong-tin-tuyen-sinh</span></a></strong></p>
                    
                    <p><strong>Tóm tắt đề án tuyển sinh năm học 2021:&nbsp;<a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/t%C3%B3m-t%E1%BA%AFt-%C4%91%E1%BB%81-%C3%A1n-tuy%E1%BB%83n-sinh-%C4%91%E1%BA%A1i-h%E1%BB%8Dc-ch%C3%ADnh-quy-n%C4%83m-2021-0"><span style="color: rgb(0, 0, 205);">http://tuyensinh.utc.edu.vn/tom-tat-de-an-tuyen-sinh&nbsp;</span></a></strong></p>
                    
                    <p><strong>Chỉ tiêu xét tuyển học bạ năm 2021:&nbsp;<a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/ch%E1%BB%89-ti%C3%AAu-ng%C6%B0%E1%BB%A1ng-%C4%91i%E1%BB%83m-x%C3%A9t-tuy%E1%BB%83n-theo-ph%C6%B0%C6%A1ng-th%E1%BB%A9c-x%C3%A9t-tuy%E1%BB%83n-h%E1%BB%8Dc-b%E1%BA%A1-thpt"><span style="color: rgb(0, 0, 205);">http://tuyensinh.utc.edu.vn/xet-tuyen-hoc-ba</span></a></strong></p>
                    
                    <p><strong>Ngưỡng điểm xét tuyển học bạ năm 2021:&nbsp;<a href="http://tuyensinh.utc.edu.vn/?q=tin-tuyen-sinh/ch%E1%BB%89-ti%C3%AAu-ng%C6%B0%E1%BB%A1ng-%C4%91i%E1%BB%83m-x%C3%A9t-tuy%E1%BB%83n-theo-ph%C6%B0%C6%A1ng-th%E1%BB%A9c-x%C3%A9t-tuy%E1%BB%83n-h%E1%BB%8Dc-b%E1%BA%A1-thpt"><span style="color: rgb(0, 0, 205);">http://tuyensinh.utc.edu.vn/ngưỡng điểm xét tuyển học bạ</span></a></strong></p>
                    
                    <p><strong>Cổng thông tin tuyển sinh của trường Đại học Giao thông vận tải:&nbsp;<a href="http://tuyensinh.utc.edu.vn/"><span style="color: rgb(0, 0, 255);">http://tuyensinh.utc.edu.vn/</span></a></strong></p>
                    
                    <p>&nbsp;</p>
                    
                    <p align="center" style="margin-bottom: 20px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; line-height: inherit; font-family: Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif; vertical-align: baseline; color: rgb(96, 96, 96);"><strong style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">DANH MỤC MINH CHỨNG ĐỐI TƯỢNG ƯU TIÊN</strong></p>
                    
                    <p style="margin-bottom: 20px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; line-height: inherit; font-family: Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif; vertical-align: baseline; color: rgb(96, 96, 96);">Thí sinh khi khai thông tin đối tượng ưu tiên cần đính kèm các loại giấy tờ tương ứng ở bảng sau:</p>
                    
                    <table border="1" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); margin: 0px 0px 1.5em; padding: 0px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); border-image: initial; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; line-height: inherit; font-family: Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif; vertical-align: baseline; width: 769.6px; color: rgb(96, 96, 96);">
                    <tbody style="border: 0px; margin: 0px; padding: 0px; font: inherit; vertical-align: baseline;">
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p align="center" style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng</font></span></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p align="center" style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Nội dung</font></span></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p align="center" style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Minh chứng cần đính kèm&nbsp;</span><span style="margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">(Bản sao công chứng hoặc bản gốc)</span></font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 01</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Công dân Việt Nam là người dân tộc thiểu số có hộ khẩu thường trú (trong thời gian học THPT hoặc trung cấp) trên 18 tháng tại Khu vực 1 quy định tại điểm c khoản 4 Điều này;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Hộ khẩu, giấy khai sinh</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 02</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Công nhân trực tiếp sản xuất đã làm việc liên tục 5 năm trở lên, trong đó có ít nhất 2 năm là chiến sĩ thi đua được cấp tỉnh trở lên công nhận và cấp bằng khen;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Giấy chứng nhận chiến sĩ thi đua</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 03</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Thương binh, bệnh binh, người có “Giấy chứng nhận người được hưởng chính sách như thương binh”;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Quân nhân; sĩ quan, hạ sĩ quan, chiến sĩ nghĩa vụ trong Công an nhân dân tại ngũ được cử đi học có thời gian phục vụ từ 12 tháng trở lên tại Khu vực 1;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Quân nhân; sĩ quan, hạ sĩ quan, chiến sĩ nghĩa vụ trong Công an nhân dân tại ngũ được cử đi học có thời gian phục vụ từ 18 tháng trở lên;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Quân nhân; sĩ quan, hạ sĩ quan, chiến sĩ nghĩa vụ trong Công an nhân dân đã xuất ngũ, được công nhận hoàn thành nghĩa vụ phục vụ tại ngũ theo quy định;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Các đối tượng ưu tiên quy định tại điểm i, k, l, m khoản 1 Điều 2 Pháp lệnh số 26/2005/PL-UBTVQH11 ngày 29 tháng 6 năm 2005 được sửa đổi, bổ sung theo Pháp lệnh số 04/2012/UBTVQH13 ngày 16 tháng 7 năm 2012 của Ủy ban thường vụ Quốc hội về việc ưu đãi người có công với cách mạng;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;">&nbsp;</p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Thẻ thương binh hoặc Quyết định cử đi học</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 04</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con liệt sĩ;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con thương binh bị suy giảm khả năng lao động từ 81% trở lên;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con bệnh binh bị suy giảm khả năng lao động từ 81% trở lên;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người hoạt động kháng chiến bị nhiễm chất độc hoá học có tỷ lệ suy giảm khả năng lao động 81% trở lên;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người được cấp “Giấy chứng nhận người hưởng chính sách như thương binh” mà người được cấp “Giấy chứng nhận người hưởng chính sách như thương binh” bị suy giảm khả năng lao động 81% trở lên;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của Anh hùng lực lượng vũ trang, con của Anh hùng lao động;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con đẻ của người hoạt động kháng chiến bị dị dạng, dị tật do hậu quả của chất độc hóa học đang hưởng trợ cấp hằng tháng;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người có công với cách mạng quy định tại điểm a, b, d khoản 1 Điều 2 Pháp lệnh số 26/2005/PL-UBTVQH11 ngày 29 tháng 6 năm 2005 được sửa đổi, bổ sung theo Pháp lệnh số 04/2012/UBTVQH13 ngày 16 tháng 7 năm 2012 về việc ưu đãi người có công với cách mạng;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Giấy chứng nhận, giấy khai sinh</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td rowspan="2" style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 05</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Thanh niên xung phong tập trung được cử đi học;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Quân nhân; sĩ quan, hạ sĩ quan, chiến sĩ nghĩa vụ trong Công an nhân dân tại ngũ được cử đi học có thời gian phục vụ dưới 12 tháng ở Khu vực 1 và dưới 18 tháng ở khu vực khác;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Quyết định cử đi học</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Chỉ huy trưởng, Chỉ huy phó ban chỉ huy quân sự xã, phường, thị trấn; Thôn đội trưởng, Trung đội trưởng Dân quân tự vệ nòng cốt, Dân quân tự vệ đã hoàn thành nghĩa vụ tham gia Dân quân tự vệ nòng cốt từ 12 tháng trở lên, dự thi vào ngành Quân sự cơ sở. Thời hạn tối đa được hưởng ưu tiên là 18 tháng kể từ ngày ký quyết định xuất ngũ đến ngày dự thi hay ĐKXT;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;">&nbsp;</p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Quyết định hoàn thành nghĩa vụ</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td rowspan="2" style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 06</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Công dân Việt Nam là người dân tộc thiểu số có hộ khẩu thường trú ở ngoài khu vực đã quy định thuộc đối tượng 01;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Giấy khai sinh</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con thương binh, con bệnh binh, con của người được hưởng chính sách như thương binh bị suy giảm khả năng lao động dưới 81%;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người hoạt động kháng chiến bị nhiễm chất độc hóa học có tỷ lệ suy giảm khả năng lao động dưới 81%;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người hoạt động cách mạng, hoạt động kháng chiến bị địch bắt tù, đày;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người hoạt động kháng chiến giải phóng dân tộc, bảo vệ Tổ quốc và làm nghĩa vụ quốc tế có giấy chứng nhận được hưởng chế độ ưu tiên theo quy định tại Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh Ưu đãi người có công với cách mạng;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Con của người có công giúp đỡ cách mạng;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Giấy chứng nhận, giấy khai sinh</font></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 5px; border: 0px; font: inherit; vertical-align: baseline;">
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Đối tượng 07</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Người khuyết tật nặng có giấy xác nhận khuyết tật của cơ quan có thẩm quyền cấp theo quy định tại Thông tư liên tịch số 37/2012/TTLT- BLĐTBXH-BYT-BTC-BGDĐT ngày 28 tháng 12 năm 2012 của Bộ Lao động - Thương binh và Xã hội, Bộ Y tế, Bộ Tài chính và Bộ GDĐT quy định về việc xác định mức độ khuyết tật do Hội đồng xác định mức độ khuyết tật thực hiện;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Người lao động ưu tú thuộc tất cả các thành phần kinh tế được từ cấp tỉnh, Bộ trở lên công nhận danh hiệu thợ giỏi, nghệ nhân, được cấp bằng hoặc huy hiệu Lao động sáng tạo của Tổng Liên đoàn Lao động Việt Nam hoặc Trung ương Đoàn TNCS Hồ Chí Minh;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Giáo viên đã giảng dạy đủ 3 năm trở lên thi vào các ngành sư phạm;</font></p>
                    
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">+ Y tá, dược tá, hộ lý, y sĩ, điều dưỡng viên, kỹ thuật viên, người có bằng trung cấp dược đã công tác đủ 3 năm trở lên thi vào nhóm ngành sức khỏe;</font></p>
                            </td>
                            <td style="margin: 0px; padding: 5px 10px; border-width: 1px 1px 0px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: initial; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: initial; border-left-color: initial; border-image: initial; font: inherit; vertical-align: baseline;">
                            <p style="margin-bottom: 20px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS">Giấy chứng nhận</font></p>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf=" id == 'hgt340-dsem'" class="post-content" id="newsidpostcontent">
                    <div class="col-md-8">
                        <!-- Chi tiết tin bài -->
                        <div id="news-content">
        
                            <p class="news-tomtat" id="newsidsummary">
                                
                            </p>
        
                            <div class="post-content" id="newsidpostcontent">
                                <p style="text-align: justify;"><span style="font-size:16px;">Từ ngày 29 /11 – 07/12/2022, Hiệu trưởng Trường Đại học Giao thông vận tải đã tham gia đoàn công tác của Bộ Giáo dục và Đào tạo tháp tùng Chủ tịch Quốc Hội Việt Nam tham dự Diễn đàn Giáo dục và các hoạt động hợp tác giáo dục tại Australia và New Zealand.&nbsp; Ngoài chương trình Diễn đàn, PGS. TS. Nguyễn Ngọc Long đã tham dự các buổi làm việc của đoàn công tác tại Bộ Giáo dục và các cơ sở giáo dục đại học của nước bạn.</span></p>
        
        <p style="text-align: center;"><span style="font-size:16px;"><img alt="" src="/upload/images/20221202_100908(1).jpg" style="width: 700px; height: 100%"></span></p>
        
        <p style="text-align: justify;"><span style="font-size:16px;"><span style="text-align: justify;">Diễn đàn Giáo dục đại học Việt Nam – Australia tập trung vào các nội dung: Mối quan hệ giữa cơ sở giáo dục đại học và doanh nghiệp; tăng cường năng lực cở sở giáo dục đại học thông qua trao đổi giảng viên, sinh viên và hợp tác nghiên cứu; các mô hình giáo dục xuyên quốc gia; đảm bảo chất lượng giáo dục.</span></span></p>
        
        <p style="text-align: center;"><span style="font-size:16px;"><img alt="" src="/upload/images/20221202_111407.jpg" style="width: 700px; height: 100%"></span></p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Tại Diễn đàn, dưới sự chứng kiến của Chủ tịch Quốc hội Vương Đình Huệ và Đại sứ Australia tại Việt Nam, PGS.TS Nguyễn Ngọc Long và GS. Glen Coleman – Phó Hiệu trưởng Trường Đại học Southern Queensland đã trình bản ký kết thỏa thuận hợp tác giữa Hiệu trưởng hai Nhà trường.&nbsp;Trong thời gian tới hai trường thúc đẩy hợp tác về đào tạo, ưu tiên tổ chức thực hiện các chương trình đào tạo trực tuyến, đề xuất các dự án nghiên cứu khoa học chung về ứng dụng trí tuệ nhân tạo vào kiểm định sức khoẻ công trình; ứng dụng vật liệu FRP và ứng/sử dụng vật liệu rác thải vào xây dựng và sửa chữa, gia cố công trình giao thông và hạ tầng, ….</span></p>
        
        <p style="text-align: center;"><img alt="" src="/upload/images/chu%20long.jpg" style="width: 800px; height: 100%"></p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Tại buổi làm việc với Bộ Giáo dục Australia, các nhà quản lý giáo dục của nước bạn đã chia sẻ về cơ chế cấp kinh phí cho các hoạt động nghiên cứu của các cơ sở giáo dục đại học, chính sách học bổng và hỗ trợ tài chính cho sinh viên Australia theo học bậc đại học và cơ chế thành lập doanh nghiệp trong Nhà trường hoặc liên kết giữa doanh nghiệp lớn và Nhà trường để thương mại hóa kết quả nghiên cứu, các vấn đề về bảo hộ bản quyền sáng chế của cơ sở giáo dục đại học …</span></p>
        
        <p style="text-align: center;"><span style="font-size:16px;"><img alt="" src="/upload/images/z3922356010551_b36639b69ef9d7740774a9764071eaf7.jpg" style="width: 700px; height: 100%"></span></p>
        
        <p align="center">&nbsp;</p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Trong buổi thăm và làm việc với Trường Đại học Quốc gia Australia (ANU) – trường đại học top 01 của Australia, đại diện trường ANU đã chia sẻ về quá trình tự chủ đại học, quan hệ giữa các cơ sở đào tạo và doanh nghiệp, đặc biệt là việc tìm nguồn tài chính cho các nghiên cứu, thương mại hóa nghiên cứu của các cơ sở giáo dục đại học của Australia nói chung.</span></p>
        
        <p style="text-align: center;"><span style="font-size:16px;"><img alt="" src="/upload/images/z3922315572071_c3401086eb9ef075852e09f888018fbd(1).jpg" style="width: 700px; height: 100%"></span></p>
        
        <p align="center">&nbsp;</p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Ở New Zealand, Hiệu trưởng Nguyễn Ngọc Long tham dự Diễn đàn Giáo dục đại học hai nước về các chủ đề: Thúc đẩy liên kết giữa cơ sở giáo dục đại học và các ngành công nghiệp; tăng cường hợp tác giữa các cơ sở giáo dục đại học của hai nước.</span></p>
        
        <p align="center"><span style="font-size:16px;"><img alt="" src="/upload/images/20221205_111756.jpg" style="width: 700px; height: 100%"></span></p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Chương trình làm việc cuối cùng của đoàn công tác diễn ra tại Trường Đại học Victoria, là trường đại học hàng đầu của New Zealand. Các cán bộ quản lý và nhà nghiên cứu của Trường đã chia sẻ về những thách thức quản trị trường đại học trong tương lai, phát triển hoạt động giảng dạy/nghiên cứu trong trường đại học một cách bền vững.</span></p>
        
        <p align="center"><span style="font-size:16px;"><img alt="" src="/upload/images/z3961642020379_125047c30de3cfea65d397cf1718bc782.jpg" style="width: 700px; height: 100%"></span></p>
        
        <p style="text-align: justify;"><span style="font-size:16px;">Với chương trình làm việc dày đặc trong một khoảng thời gian ngắn, chuyến công tác của Hiệu trưởng Nhà trường giúp mở ra mối quan hệ hợp tác chính thức của Trường Đại học Giao thông vận tải với các cơ sở giáo dục đại học tại Australia và New Zealand.</span></p>
        
                            </div>
                            <h6 class="author">
                                Đăng bởi: Phòng Hợp tác quốc tế &amp; phát triển
                            </h6>
                            <div style="clear: both;"></div>
                        </div>
        
                        <!-- Từ khóa -->
                        <div class="tag-news">
                            <span class="icon-tag"><i class="fas fa-tags"></i>Từ khóa</span>
                        </div>
        
                        <!-- Có thể bạn quan tâm -->
        
                        <div class="care-about">
                            <p>Có thể bạn quan tâm:</p>
                            <ul class="navbar-nav">
        
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.utc.edu.vn/le-ky-ket-hop-tac-ve-dao-tao-chuong-trinh-lien-ket-quoc-te-va-nghien-cuu-nganh-duong-sat-voi-truong-dai-hoc-dongyang-han-quoc">
                                            <i class="fas fa-circle"></i>Lễ ký kết hợp tác về đào tạo Chương trình liên kết quốc tế và nghiên cứu ngành Đường sắt với Trường Đại học Dongyang, Hàn Quốc
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.utc.edu.vn/nhom-7-truong-dai-hoc-khoi-ky-thuat-to-chuc-so-ket-hoat-dong-va-ky-ghi-nho-hop-tac-kiem-dinh-dam-bao-chat-luong-theo-tieu-chuan-quoc-te">
                                            <i class="fas fa-circle"></i>Nhóm 7 trường đại học khối kỹ thuật tổ chức sơ kết hoạt động và Ký ghi nhớ hợp tác kiểm định, đảm bảo chất lượng theo tiêu chuẩn quốc tế
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.utc.edu.vn/le-ky-ket-thoa-thuan-hop-tac-tai-tro-cong-thong-tin-viec-lam-va-phan-mem-review-utc-360">
                                            <i class="fas fa-circle"></i>Lễ ký kết thỏa thuận hợp tác tài trợ Cổng thông tin việc làm và Phần mềm Review UTC 360
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.utc.edu.vn/truong-dai-hoc-gtvt-to-chuc-thanh-cong-hoi-thao-erasmus-asiasafe-lan-thu-6">
                                            <i class="fas fa-circle"></i>Trường Đại học GTVT tổ chức thành công Hội thảo ERASMUS+ ASIASAFE lần thứ 6
                                        </a>
                                    </li>
        
                            </ul>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
            <div class="mb-5">
                <h2 class="mb-4"><span>3</span> Bình luận</h2>
                <div class="d-flex mb-4">
                    <img src="../../../assets/img/user.jpg" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">Nguyễn Huy</a> <small><i>25-07-2022</i></small></h6>
                        <p>Tuyệt vời</p>
                        <button class="btn btn-sm btn-light">Trả lời</button>
                    </div>
                </div>
                
                <div class="d-flex mb-4">
                    <img src="../../../assets/img/user.jpg" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">Nguyễn Lê Văn</a> <small><i>26-07-2022</i></small></h6>
                        <p>Cảm ơn thông tin này của trường</p>
                        <button class="btn btn-sm btn-light">Trả lời</button>
                    </div>
                </div>
            </div>
            <!-- Comment List End -->

            <!-- Comment Form Start -->
            <div class="bg-secondary p-5">
                <h2 class="mb-4">Bình luận</h2>
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Bình luận</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Search Form Start -->
            <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <!-- Search Form End -->

            <!-- Category Start -->
            <div class="mb-5">
                <h2 class="mb-4">Mục lục</h2>
                <div class="d-flex flex-column justify-content-start bg-secondary p-4">
                    <a class="h5 mb-3" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Khoa học</a>
                    <a class="h5 mb-3" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Thông báo</a>
                    <a class="h5 mb-3" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Đang diễn ra</a>
                    <a class="h5 mb-3" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Tuyển dụng</a>
                </div>
            </div>
            <!-- Category End -->

            <!-- Recent Post Start -->
            <div class="mb-5">
                <h2 class="mb-4">Gần đây</h2>
                <div class="d-flex mb-3">
                    <img class="img-fluid" src="../../../assets/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-secondary px-3 mb-0">Hướng dẫn nộp hồ sơ xét tuyển học bạ online
                    </a>
                </div>
                <div class="d-flex mb-3">
                    <img class="img-fluid" src="../../../assets/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-secondary px-3 mb-0">Kết quả xét tuyển liên thông từ trình độ cao đẳng lên trình độ đại học đợt 3 năm 2022
                    </a>
                </div>
                <div class="d-flex mb-3">
                    <img class="img-fluid" src="../../../assets/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-secondary px-3 mb-0">Xét đạt chuẩn và bổ nhiệm GS, PGS năm 2021
                    </a>
                </div>
                
            </div>
            <!-- Recent Post End -->


            
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->
