<mat-dialog-content style="max-height: 100vh;">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <form method="post" class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <mat-card class="p-2">
                        <mat-card-title>Hồ sơ người dùng</mat-card-title>
                    </mat-card>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Họ :</label><input type="text" class="form-control" placeholder="Nguyễn Đình" ></div>
                    <div class="col-md-6"><label class="labels">Tên :</label><input type="text" class="form-control"  placeholder="Huy"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text" class="form-control" placeholder="ví dụ : 0329194466" ></div>
                    <div class="col-md-12"><label class="labels">Địa chỉ nhà :</label><input type="text" class="form-control" placeholder="ví dụ : Thanh Hóa" ></div>
                    <div class="col-md-12"><label class="labels">Địa chỉ tạm trú :</label><input type="text" class="form-control" placeholder="ví dụ : Hà Nội" ></div>
                    <div class="col-md-12"><label class="labels">Email :</label><input type="text" class="form-control" placeholder="ví dụ : example@gmail.com" ></div>
                    <div class="col-md-12"><label class="labels">Chức vụ :</label><input type="text" class="form-control" placeholder="enter email id" ></div>
                    <div class="col-md-12"><label class="labels">Ngày sinh :</label><input type="date" class="form-control" placeholder="15/07/1998" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Giới tính : </label>
                        <select class="form-select">
                            <option selected>Chọn giới tính</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                          </select>
                    </div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </form>
        <div class="col-md-4">
            <form method="post" class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span style="font-weight: 700;">Thay đổi mật khẩu</span></div><br>
                <div class="col-md-12"><label class="labels">Mật khẩu hiện tại</label><input type="text" class="form-control" placeholder="*******" ></div> <br>
                <div class="col-md-12"><label class="labels">Mật khẩu mới</label><input type="text" class="form-control" placeholder="*******" ></div>
                <div class="col-md-12"><label class="labels">Nhập lại mật khẩu mới</label><input type="text" class="form-control" placeholder="******" ></div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save</button></div>
            </form>
        </div>
    </div>
</div>
</mat-dialog-content>