<!-- Team Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Cán bộ giảng viên</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5 justify-content-center" >
        <div class="col-lg-4" *ngFor="let item of users">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100 icon-user" src="../../../assets/img/gtvt/user-icon.png" alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 style="cursor: pointer;" class="text-white" (click)="userDetails(item.id)">{{item.first_name}} {{item.last_name}}</h3>
                    <p class="text-white text-uppercase mb-0">Chức vụ : <span>{{common.covertJobTitleToString(item.job_title)}}</span></p>
                    <p class="text-white text-uppercase mb-0">Vị trí : <span>{{common.covertJobPositionToString(item.job_position)}}</span></p>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100 icon-user" src="../../../assets/img/gtvt/user-icon.png" alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3  style="cursor: pointer;" class="text-white">Nguyễn Đình Huy</h3>
                    <p class="text-white text-uppercase mb-0">Chức vụ : <span>PGS TS</span></p>
                    <p class="text-white text-uppercase mb-0">Vị trí : <span>Trưởng Khoa</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100 icon-user" src="../../../assets/img/gtvt/user-icon.png" alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 style="cursor: pointer;" class="text-white">Nguyễn Đình Huy</h3>
                    <p class="text-white text-uppercase mb-0">Chức vụ : <span>PGS TS</span></p>
                    <p class="text-white text-uppercase mb-0">Vị trí : <span>Trưởng Khoa</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100 icon-user" src="../../../assets/img/gtvt/user-icon.png" alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 style="cursor: pointer;" class="text-white">Nguyễn Đình Huy</h3>
                    <p class="text-white text-uppercase mb-0">Chức vụ : <span>PGS TS</span></p>
                    <p class="text-white text-uppercase mb-0">Vị trí : <span>Trưởng Khoa</span></p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Team End -->
