<section id="login" style="background: url(../../assets/img/gtvt/3.png); background-size: cover;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 text-center">
            <h3 class="text-body">Bộ môn</h3>
            <h3 class="text-body">Kỹ thuật Thông Tin  Truyền Thông</h3>
          <img src="../../assets/img/gtvt/logo-dai-hoc-giao-thong-van-tai-inkythuatso-01.png"
            class="img-logo" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div  class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Đăng nhập với</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input [formControl] = "username" type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="Tài khoản" />
              <div [ngClass]="username.errors?.['required'] ? 'errors': ''" *ngIf="username.errors?.['required'] && statusCheck">
                Không để bỏ trống
              </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input [formControl] = "password" type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Mật khẩu" />
                <div [ngClass]="password.errors?.['required'] ? 'errors': ''"  *ngIf="password.errors?.['required'] && statusCheck">
                  Không để bỏ trống
                </div>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Nhớ tài khoản
                </label>
              </div>
              <a [routerLink]="['/forgot-password']" class="text-body">Quên mật khẩu?</a>
            </div>
            <div class="errors mb-2 mt-3 text-center" *ngIf="!isLoginSuccess && statusCheck">
              <i>Tài khoản hoặc mật khẩu không chính xác</i>
            </div>
            <div class="text-center text-lg-start pt-2">
              <button (click)="verifyAccount()" type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng nhập</button>
              <div class=" fw-bold mt-2 pt-1 mb-0 " style="color: #0062cc;" >Bạn đã có tài khoản chưa? <a [routerLink]="['/signup']"
                  class="text-danger">Đăng ký</a></div>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>
