
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5" style="color: #4835d4;">Thông tin chung</h3>
      
                        <div class="row">
                          <div class="col-md-6 mb-4 pb-2">
      
                            <div class="form-outline">
                              <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplev2">First name</label>
                            </div>
      
                          </div>
                          <div class="col-md-6 mb-4 pb-2">
      
                            <div class="form-outline">
                              <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplev3">Last name</label>
                            </div>
      
                          </div>
                        </div>
                        <div class="mb-4 pb-2">
                            <div class="col-md-6">
                        
                                <select class="form-select">
                                    <option value="1">Giới tính</option>
                                    <option value="2">Nam</option>
                                    <option value="3">Nữ</option>
                                </select>
                        
                            </div>
                            
                        </div>
                        
                        <div class="mb-4 pb-2">
                            <div class="mb-6 pb-2">
                                <div class="col-md-6">
                                    <input type="date" class="form-control" placeholder="15/07/1998">
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 pb-2">
                            <div class="col-md-6">
                        
                                <select class="form-select">
                                    <option value="1">Các khóa</option>
                                    <option value="2">Khóa 58</option>
                                    <option value="3">Khóa 59</option>
                                    <option value="4">Cựu sinh viên</option>
                                </select>
                        
                            </div>
                        </div>
      
                        <div class="mb-4 pb-2">
                          <select class="form-select">
                            <option value="1">Vị trí</option>
                            <option value="2">Giảng viên</option>
                            <option value="3">Sinh viên</option>
                            <option value="4">Cựu sinh viên</option>
                          </select>
                        </div>
                        
                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplev4">Thông tin công việc</label>
                          </div>
                        </div>
      
      
                      </div>
                    </div>
                    <div class="col-lg-6 bg-indigo text-white">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5">Thông tin liên lạc</h3>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea2">Địa chỉ nhà</label>
                          </div>
                        </div>
      
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea3" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea3">Địa chỉ tạm trú</label>
                          </div>
                        </div>
      
                        <div class="row">
                            <div class="col-md-5 mb-4 pb-2">
                                <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Examplea8">Quốc tịch</label>
                                </div>
                            </div>
                            <div class="col-md-7 mb-4 pb-2">
                                <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Examplea8">Điện thoại</label>
                                </div>
                            </div>
                        </div>
      
                        <div class="mb-4">
                          <div class="form-outline form-white">
                            <input type="text" id="form3Examplea9" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea9">Email</label>
                          </div>
                        </div>

                        <div class="mb-4">
                            <div class="form-outline form-white">
                              <input type="text" id="form3Examplea9" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplea9">Facebook</label>
                            </div>
                          </div>
      
                        <button type="button" class="btn btn-light btn-lg"
                          data-mdb-ripple-color="dark">Đăng ký</button>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
