body{
    background-image: url(../../assets/img/gtvt/3.png);
    background-size: cover;
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    background-color: #0062cc;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left div{
    font-size: 20px;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 0;
    padding: 30px;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    margin-right: 100px;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -15%;
    font-size: 30px;
    font-weight: 600;
    color: #495057;
}
.brand_logo_container {
    border-radius: 50%;
    text-align: center;
    padding: 0;
    border: 0;
}

.brand_logo {
    border-radius: 50%;
}
.errors{
    color: red;
}