

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <div>Bộ môn kỹ thuật Thông Tin</div>
                <div>Truyền Thông</div>
                <div class="brand_logo_container">
                    <img src="../../assets/img/gtvt/logo-dai-hoc-giao-thong-van-tai-inkythuatso-01.png" class="brand_logo" alt="Logo">
                </div>
                <input type="submit" name="" value="Đăng nhập" (click)="goToSingin()"/><br/>
                <input  type="submit" name="" value="Đăng ký" (click)="goToSingup()"/><br/>
            </div>
            <div  class="col-md-9 register-right">
                <div *ngIf="!isSuccessfulAccountRecovery" class="tab-content" id="myTabContent">
                    <div class="errors text-center fs-4 mt-3" *ngIf="isActive && !accountForm.valid">
                        Thông tin không chính xác !!!!
                    </div>
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="register-heading">Quên mật khẩu</div>
                        <div class="row register-form justify-content-center">
                            <div class="col-md-6" [formGroup]="accountForm">
                                <div class="form-group mb-2">
                                    <input formControlName="username" type="text" class="form-control" placeholder="Tên tài khoản *" value="" />
                                    <div class="errors" *ngIf="accountForm.controls.username.errors?.['required'] && isActive">
                                        Không được bỏ trống
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <input formControlName="email" type="email" class="form-control" placeholder="Email *" value="" />
                                    <div class="errors" *ngIf="(accountForm.controls.email.errors?.['email'] || accountForm.controls.email.errors?.['required'] )&& isActive">
                                        Email không tồn tại
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <select class="form-control" formControlName="question_security">
                                        <option value=null class="hidden"  selected disabled>Chọn một câu hỏi của bạn</option>
                                        <option value="{{questionSecurity.Khoa.value}}">{{questionSecurity.Khoa.display}}</option>
                                        <option value="{{questionSecurity.CoVan.value}}">{{questionSecurity.CoVan.display}}</option>
                                        <option value="{{questionSecurity.MonYeuThich.value}}">{{questionSecurity.MonYeuThich.display}}</option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                    <input formControlName="answer_security" type="text" class="form-control" placeholder="Trả lời câu hỏi *" value="" />
                                    <div class="errors" *ngIf="accountForm.controls.answer_security.errors?.['required'] && isActive">
                                        Không được bỏ trống
                                    </div>
                                </div>
                                <input (click)="activeTakeAccount()"  type="submit" class="btnRegister"  value="Xác nhận"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSuccessfulAccountRecovery" class="text-center position-relative translate-middle top-50 start-50">
                    <h2 class="text-success ">Lấy lại tài khoản thành công !!!</h2>
                    <h4 class="text-success ">Thông tin bảo mật đã gửi qua email</h4>
                </div>
            </div>
        </div>
    </div>
</body>



