<div class="d-flex flex-column flex-shrink-0 p-3 dashboard" style="width: 280px;">
    <div class="d-flex align-items-center mb-3 pb-4 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img class="rounded-circle" width="100px" src="../../assets/img/user.jpg" alt="">
        <span class="ps-3 fs-4 text-white">Giảng viên</span>
    </div>
    <hr style="color: black;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a (click)="setActive('profile')" [routerLink]="['/lecturer/profile/',id]" class=" {{keyActive ==='profile' ? 'active bg-primary' : ''}} nav-link d-flex flex-row align-items-center">
                <mat-icon class="text-white " fontIcon="account_circle"></mat-icon>
                <div class="text-white ">
                    Cá nhân
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="setActive('management-documents')" [routerLink]="['/lecturer/management-documents/',id]" class=" {{keyActive ==='management-documents' ? 'active bg-primary' : ''}} nav-link d-flex flex-row align-items-center">
                <mat-icon class="text-white " fontIcon="description"></mat-icon>
                <div class="text-white ">
                    Quản lý tài liệu
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="setActive('management-news')" [routerLink]="['/lecturer/management-news/',id]" class="{{keyActive ==='management-news' ? 'active bg-primary' : ''}} nav-link d-flex flex-row align-items-center">
                <mat-icon class="text-white " fontIcon="newspaper"></mat-icon>
                <div class="text-white ">
                    Quản lý tin tức
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="setActive('management-notifications')" [routerLink]="['/lecturer/management-notifications/',id]" class="{{keyActive ==='management-notifications' ? 'active bg-primary' : ''}} nav-link d-flex flex-row align-items-center">
                <mat-icon class="text-white " fontIcon="newspaper"></mat-icon>
                <div class="text-white ">
                    Thông báo
                </div>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a (click)="setActive('management-students')" [routerLink]="['/lecturer/management-students/',id]" class=" {{keyActive ==='management-students' ? 'active bg-primary' : ''}} nav-link d-flex flex-row align-items-center">
                <mat-icon class="text-white " fontIcon="manage_search"></mat-icon>
                <div class="text-white ">
                    Quản lý sinh viên
                </div>
            </a>
        </li> -->
    </ul>
    <hr>
    <div class="nav-item">
        <a [routerLink]="['/home']" class="nav-link d-flex flex-row align-items-center">
            <mat-icon class="text-white " fontIcon="logout"></mat-icon>
            <div class="text-white ">
                Đăng xuất
            </div>
        </a>
    </div>
</div>

